.app-layout {
  min-height: 100vh;

  background: #081226;
}

.app-layout__content {
  min-height: 100vh;

  margin-left: 230px;
}

@media (max-width: 768px) {
  .app-layout__content {
    margin-left: 0;

    min-height: 100vh;

    padding-bottom: 88px;
  }
}